@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'); */
/* @font-face {
    font-family: 'Monserrat';
    src: url(font/Montserrat-Regular.ttf);
} */
@font-face {
    font-family: 'playfair display';
    src: url(font/PlayfairDisplay-Regular.ttf);
}
html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* nav en tete*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(80, 80, 80);
    background: #fff;
    color: black;
}
nav h1{
    /* color: black; */
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    animation: apparition .8s ease-out;
}
nav h4{
    margin-top: -25px;
    border-bottom: 1px solid rgb(0, 0, 0);
    animation: apparition 2s ease-out;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
}
/* expérience */

.experience{
    background: url(images/portfolio.jpg) top/cover;
    /* background-size: cover; */
    padding: 40px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    /* height: 500px; */
}

.experience h2{
    /* margin-bottom: -10px; */
    margin-top: -35px;
    font-family: 'Playfair Display', sans-serif;
}

.exp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
}

.exp h4{
    padding-left: 30px;
    margin-bottom: -10px;
}
.sinequae{
    justify-content: center;
}
.lkvision{
    justify-content: flex-end;
}
/* header */
header{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background: url('images/portfolio2.jpg');
    background-size: cover;
    padding: 40px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(80, 80, 80);

}
header h2{
    /* margin-bottom: -10px; */
    margin-top: -35px;
    font-family: 'Playfair Display', sans-serif;
}
header h4{
    /* margin-top: -25px;
    text-align: center; */
    padding-left: 30px;
    margin-bottom: -10px;
}
.comp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
}

.softskills{
    justify-content: center;
}
.madskills{
    justify-content: flex-end;
}
/* Formation */
.formation{
    border-top: 5px solid rgb(80, 80, 80);
    background: url(images/formation.jpg);
    background-size: cover;
    padding: 40px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}
.formation h2{
    /* margin-bottom: -10px; */
    margin-top: -35px;
    font-family: 'Playfair Display', sans-serif;
}
.formation h4{
    padding-left: 30px;
    margin-bottom: -10px;
}
.ecole{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: small;
}
/* footer */
footer{
    border-top: 5px solid rgb(80, 80, 80);
    background-color: black;
    color: white;
    /* padding: 30px 100px; */
}
footer h1{
    font-family: 'Playfair Display', sans-serif;
}
footer h4{
    margin-top: -20px;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}
footer .contact{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contact .coordonnees{
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
}
footer #mention{
    color: rgb(48, 48, 48);
    margin-bottom: -25px;
    text-align: left;
    padding-left: 1px;
}
footer #nom{
    justify-content: flex-start;
}
footer #contact{
    font-size: small;
    margin-top: 20px;
    /* margin-left: -20%; */
}
footer #liens{
    font-size: small;
    margin-top: 20px;
    color: white;
}
footer #liens i{
    font-size: 2em;
    color: white;
}
@keyframes apparition {
    from{
        opacity: 0;
        transform:translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #828282;
    box-shadow:  7px 7px 14px #656565,
                 -7px -7px 14px #9f9f9f;
    /* border-radius: 50%;
    background: #333;
    color: rgb(253, 253, 253);
    border: 1px solid black;
    cursor: pointer; */
}
.btn-toggle:hover{
    border-radius: 50px;
    background: #828282;
    box-shadow: inset 7px 7px 14px #656565,
                inset -7px -7px 14px #9f9f9f;
}
nav.dark {
    color: white;
    background: rgb(0, 0, 0);
}
nav.dark .onglets a{
    color: white;
    border-bottom: 1px solid white;
}
nav.dark h4{
    border-bottom: 1px solid white;
}

/* nav.dark .btn-toggle{
    border-radius: 50%;
    background: #fdeded;
    box-shadow:  7px 7px 12px #bbafaf,
             -7px -7px 12px #ffffff;
}
nav.dark .btn-toggle:hover{
    border-radius: 50%;
    background: #fdeded;
    box-shadow:  7px 7px 12px #bbafaf,
             -7px -7px 12px #ffffff;
} */
@media screen and (max-width:680px) {
    nav .onglets{
        /* text-align: center; */
        /* margin: 0 auto; */
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
